<div class="text">
Earth is the third planet from the sun and the only one in our solar system that we know of capable of having life.
The Earth was formed about 4.5 billion years ago and orbits the sun every 365.25 days.  
The surface are of the Earth is about 196,940,000 square miles in which  71 percent of it is covered in water. 
Life on earth start about 4.1 billion years ago in which 99 percent of all species that have ever lived on the planet are now extinct.

<br>
  Information by <a href="https://en.wikipedia.org/wiki/Earth">Wikipedia</a>
</div>
