<div class="text">
Mars is the forth planet in our solar system and was named after the Roman god of war.  
  It is the second the smallest planet in our solar system and has a red surface due an abundant amount of iron oxide. 
  The poles of the planet are covered in enough ice that if melted could the planet’s surface in water 11 meters deep.  
  There are current investigations under way looking at the past habitability of the planet and in if it could support life in the future. 
<br>
  Information by <a href="https://en.wikipedia.org/wiki/Mars">Wikipedia</a>
</div>
