<div class="text">
Mercury is the closet plant to the sun and was named after Mercury, a Roman deity. 
  Mercury being the closet planet to the sun has almost no atmosphere to retain heat which causes this planet 
  to have one of the highest temperature swings from -280 deg F at night to 800 deg F during the day.  
  The planet rotates around the sun every 87.87 earth days giving it the shortest rotational period than any other planet in our solar system.
<br>
  Information by <a href="https://en.wikipedia.org/wiki/Mercury_(planet)">Wikipedia</a>
</div>
