<div class="text">
Venus, the second planet from the sun is considered the hottest planet in our solar system due to the chemical make-up of the atmosphere. 
Venus is one of the few  planets  in our solar system that rotate in an opposite direct in comparison to other planets meaning the 
sun rises in the west and sets in the east.  It take Venus 224.7 earth day to revolve around the sun.

<br>
  Information by <a href="https://en.wikipedia.org/wiki/Venus">Wikipedia</a>
</div>
